body {
	font-family: Arial, sans-serif;
}

h1 {
	text-align: center;
}

form {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-bottom: 20px;
}

input[type="text"], input[type="date"] {
	width: 200px;
	padding: 12px;
	margin: 8px;
	box-sizing: border-box;
	border: 2px solid #ccc;
	border-radius: 4px;
}

button[type="submit"] {
	background-color: #4CAF50;
	color: white;
	padding: 14px 20px;
	margin: 8px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

button[type="submit"]:hover {
	opacity: 0.8;
}

ul {
	list-style-type: none;
	padding: 0;
}

li {
	padding: 12px 20px;
	background-color: #f9f9f9;
	border: 1px solid #ccc;
	border-radius: 4px;
	margin-bottom: 10px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

li.done {
	background-color: #bfbfbf;
}

li span {
	flex: 1;
}

li input[type="checkbox"] {
	margin-right: 10px;
}

li button {
	background-color: #f44336;
	color: white;
	padding: 6px 8px;
	border: none;
	cursor: pointer;
	border-radius: 4px;
}

li button.edit {
	background-color: #4CAF50;
}

li button.edit:hover {
	opacity: 0.8;
}

li button.delete {
	margin-left: auto;
}

li button.delete:hover {
	background-color: #f44336;
}